<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Off">

	<variable name="appDataFolder" value="${specialfolder:folder=LocalApplicationData}/deavnote" />
	<variable name="logLayout" value="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=|${exception:format=tostring}}" />

	<targets>
		<!-- Own application logs (deavnote.* loggers). -->
		<target xsi:type="File"
				name="own"
				fileName="${appDataFolder}/deavnote.own.${shortdate}.log"
				layout="${logLayout}"
				maxArchiveFiles="30" />

		<!-- All other logs (framework, Entity Framework, third-party libraries, etc.). -->
		<target xsi:type="File"
				name="all"
				fileName="${appDataFolder}/deavnote.all.${shortdate}.log"
				layout="${logLayout}"
				maxArchiveFiles="30" />
	</targets>

	<rules>
		<!-- Own application logs: Info and above. Final so they don't also flow into the "all" rule. -->
		<logger name="deavnote.*" minlevel="Info" writeTo="own" final="true" />

		<!-- Everything else: Error and above. -->
		<logger name="*" minlevel="Error" writeTo="all" />
	</rules>
</nlog>
